.form{
      display: flex;
}
.form input{
      flex: 1;
      font-size: 1.25rem;
      border: none;
      outline: none;
      border-bottom: 1px solid #0c8599;
}
.create-button {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      background: #0c8599;
      color: white;
      border-radius: 13px;
      cursor: pointer;
}
.create-button:hover{
      background: #1098ad;
}